.blog-post-page_Page {

    .blog-post-page_Page__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'title'
        'header'
        'body'
        ;

        padding-left: 1rem;
        padding-right: 1rem;

        .pageContent__title {
            grid-area: title;
        }
        .pageContent__header {
            grid-area: header;
        }
        .pageContent__body {
            grid-area: body;

            line-height: initial;
        }
        .blog-post-page__bottomImg {
            grid-area: img;
        }

        @media (min-width: 769px) {
            display: grid;
            grid-template-columns: 3fr 3fr 3fr 3fr;
            grid-template-areas: 
            'title title title _'
            'header header header _'
            'body body body _'
            ;
            
            padding-left: 5vw;
            padding-right: 5vw;

        }

        @media (min-width: 1200px) {
            padding-left: 12vw;
            
        }
    }
}