.liiift-my-business-page_Page {

    .liiift-my-business-page_Page__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'header'
        'body'
        'links'
        'img'
        ;

        padding-left: 1rem;
        padding-right: 1rem;

        .pageContent__header {
            grid-area: header;
        }
        .pageContent__body {
            grid-area: body;
        }


        @media (min-width: 769px) {
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-template-areas: 
            'header '
            'body'
            ;
            
            padding-left: 5vw;
            padding-right: 0;

            .pageContent__header {

            }
            .pageContent__body {

            }
        }

        @media (min-width: 1200px) {
            padding-left: 12vw;
            
        }
    }

    .liiift-my-business_Page__linksDiv {
        grid-area: links;

        margin-bottom: 5vh;

        margin-left: 1rem;

        a {
            position: relative;
            display: block;

            font-weight: 700;
            color: var(--main-color-dark);
            text-decoration: none;

            width: fit-content;

            padding: 1rem;
            margin-bottom: 1rem;

            border: 2px var(--main-color-dark) solid;

            transition: .3s ease-in-out;
            &:hover {
                background-color: var(--main-color-dark);
                color: #FFFFFF;
            }
        }

        @media (min-width: 769px) {
            font-size: 24px;
            line-height: 28px;
            margin-left: 5vw;
        }

        @media (min-width: 1200px) {
            margin-left: 12vw;
        }
    }
}