.ImageGrid__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (min-width: 769px) {
        display: grid;

        gap: 1rem;
    }

    img {
        display: block;


        @media (min-width: 769px) {
            object-fit: cover;
        }
    }
}