.liiift-myself_Page {

    .liiift-myself_Page__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'header'
        'body'
        'links'
        'img'
        ;

        padding-left: 1rem;
        padding-right: 1rem;

        .pageContent__header {
            grid-area: header;
        }
        .pageContent__body {
            grid-area: body;
        }
        .liiift-myself_Page__linksDiv {
            grid-area: links;

            margin-bottom: 10vh;

            a {
                position: relative;
                display: block;

                font-weight: 700;
                color: var(--main-color-dark);
                text-decoration: none;

                width: fit-content;

                padding: 1rem;
                margin-bottom: 1rem;

                border: 2px var(--main-color-dark) solid;

                transition: .3s ease-in-out;
                &:hover {
                    background-color: var(--main-color-dark);
                    color: #FFFFFF;
                }
            }
        }
        .liiift-myself_Page__imgDiv {
            grid-area: img;

            margin-left: auto;
            margin-right: auto;
        }


        @media (min-width: 769px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            'title title'
            'header img'
            'body img'
            'links links'
            ;
            
            padding-left: 5vw;
            padding-right: 0;

            .pageContent__header {

            }
            .pageContent__body {

            }
            .liiift-myself_Page__linksDiv {
                font-size: 24px;
                line-height: 28px;
            }
            .liiift-myself_Page__imgDiv {
                position: relative;

                margin-left: initial;
                margin-right: initial;

                margin-bottom: 60vh;

                img {
                    position: absolute;
                    top: 5%;
                    left: 15%;

                    width: 70%;
                }
                &::before {
                    content: "";

                    position: absolute;
                    top: 15%;
                    right: 0;
                    
                    width: 90%;
                    height: 100px;
                    background: var(--main-color-biege);

                }
            }
        }

        @media (min-width: 1200px) {
            padding-left: 12vw;
            
        }
    }
}