.threeIsSection {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-left: 1rem;
    padding-right: 1rem;

    @media (min-width: 769px) {
        padding-left: 10vw;
        padding-right: initial;
    }

    h2 {
        font-size: 84px;

        @media (min-width: 640px) {
            font-size: 96px;
        }
        @media (min-width: 769px) {
            font-size: 128px;
        }
        @media (min-width: 1200px) {
            font-size: 240px;
        }
    }
    p {

        font-size: 18px;

        padding-left: .5rem;

        @media (min-width: 640px) {
            font-size: 24px;
            line-height: 26px;
        }
        @media (min-width: 769px) {
            width: 35%;

            font-size: 28px;
            line-height: 30px;
        }
        @media (min-width: 1200px) {
            padding-left: 1rem;

            font-size: 38px;
            line-height: 40px;
        }
    }
}

.threeIsSection_CTA {
    color: var(--main-color-dark);

    width: 100%;

    padding-top: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 769px) {
        padding-left: calc(5vw - 1rem);
    }

    @media (min-width: 1200px) {
        padding-left: calc(12vw - 1rem);
    }

    .ctaDiv__message {
        color: var(--main-color-dark);
        font-weight: bold;

        font-size: 32px;
        line-height: 34px;

        margin-left: 1rem;

        margin-bottom: 1rem;

        @media (min-width: 769px) {
            font-size: 58px;
            line-height: 60px;
        }
        @media (min-width: 1200px) {
            font-size: 88px;
            font-size: 92px;

            margin-bottom: 2rem;
        }
    }
    .ctaDiv__buttonsDiv {
        display: flex;
        flex-wrap: wrap;

        a {
            display: block;
            width: 9rem;

            text-align: center;
            color: var(--main-color-dark);
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;

            border: solid 1px var(--main-color-dark);
            padding: .5rem;

            margin: 1rem;

            cursor: pointer;
            transition: .3s ease-in-out;
        }
        a:hover {
            background-color: var(--main-color-dark);
            color: #FFFFFF;
        }
    }
}