.videosSlider {
    position: relative;

    cursor: default !important;

    .videosSlider__svgDiv {
        position: absolute;
        left: 0;
        bottom: 0;

        .videosSlider__svg {
            display: none;
        }

        @media(min-width: 768px) {
            z-index: -1;

            position: absolute;
            left: -4px;
            bottom: -45px;
    
            .videosSlider__svg {
                display: block;
                width: 300px;
            }
        }
    }

    .scrollBackArrow {
        position: absolute;
        top: 200px;

        height: 3rem;
        width: 3rem;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: transparent;
        border: transparent;

        cursor: pointer;

        svg {
            display: block;
            height: 100%;
        }

        left: 18px;

        @media (min-width: 768px) {
            top: 400px;
            left: initial;
            right: calc(5vw + 56px);
        }
        @media (min-width: 1024px) {
            top: 550px;
            left: initial;
            right: calc(12vw + 56px);
        }

        &:focus {
            outline: 1px solid rgba(255, 163, 191, 0.5);
        }
        &:disabled {
            opacity: 0.5;
            cursor: default;
        }
    }

    .scrollForwardArrow {
        position: absolute;
        top: 200px;

        height: 3rem;
        width: 3rem;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: transparent;
        border: transparent;

        cursor: pointer;

        svg {
            display: block;
            height: 100%;
        }

        right: 18px;

        @media (min-width: 768px) {
            top: 400px;
            right: 5vw;
        }
        @media (min-width: 1024px) {
            top: 550px;
            right: 12vw;
        }

        &:focus {
            outline: 1px solid rgba(255, 163, 191, 0.5);
        }
        &:disabled {
            opacity: 0.5;
            cursor: default;
        }
    }

    .scrollSlider {
    position: relative;
    display: flex;
    justify-content: flex-end;

        .scrollSlider__outer {
            position: relative;
            overflow: hidden;
    
            
            width: 100%;

            @media (min-width: 768px) {
                width: calc(100% - 48px);
            }
    
            .scrollSlider__inner {
                width: max-content;
                display: flex;

                transition: .3s ease-in-out;

                //gap: 40px;

                @media (min-width: 768px) {
                    //gap: 60px;
                }
            
                @media (min-width: 1024px) {
                    //gap: 80px;
                }
            }
        }
    }
}

.videoHearFrom {
    display: block;

    position: relative;
    width: 250px;
    height: 150px;

    margin-left: 20px;
    margin-right: 20px;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    .videoHearFrom__titleDiv {
        position: absolute;
        z-index: 10;

        width: 250px;
        height: 140px;

        color: #FFFFFF;

        left: 0;
        top: 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
        padding-left: 8px;

        h4 {
            margin-bottom: 0;

            font-size: 8px;
        }
        div {
            font-size: 16px;
            line-break: normal !important;
            white-space: normal !important;
        }


        @media (min-width: 768px) {
            width: 700px;
            height: 290px;


            padding-left: 2rem;

            h4 {
                margin-bottom: 0;
    
                font-size: 18px;
            }
            div {
                font-size: 24px;
                line-break: normal !important;
                white-space: normal !important;
            }
        }

        @media (min-width: 1024px) {
            width: 1050px;
            height: 480px;


            padding-left: 3rem;
            padding-bottom: 2rem;

            h4 {
                margin-bottom: 1rem;
    
                font-size: 24px;
            }
            div {
                font-size: 48px;
                line-break: normal !important;
                white-space: normal !important;
            }
        }
    }
    .videoHearFrom__titleDiv--visible {
        display: flex;
    }
    .videoHearFrom__titleDiv-hidden {
        display: none;
    }


    video {
       object-fit: cover;

        z-index: 10;

        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: 250px;
        height: 150px;
        //object-fit: cover;

        @media (min-width: 768px) {
            width: 700px;
            height: 350px;
        }

        @media (min-width: 1024px) {
            width: 1050px;
            height: 525px;
        }
    }

    @media (min-width: 768px) {
        width: 700px;
        height: 350px;

        margin-left: 30px;
        margin-right: 30px;
    }

    @media (min-width: 1024px) {
        width: 1050px;
        height: 525px;

        margin-left: 40px;
        margin-right: 40px;
    }
}